@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    font-size: 10px;
    font-weight: 500;
    scroll-behavior: smooth;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.clear {
    clear: both;
}

.center-text {
    text-align: center;
}

.fl {
    float: left;
}

.fr {
    float: right;
}


ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.button {
    background-color: #0061FF;
    color: white;
    padding: 6px 12px;
    white-space: nowrap;
}












/* HEADER */

header .container {
    width: 100%;
    padding: 10px 5px;
}

header .row {
    margin: 2px 5px;
}

header .logo {
    width: 75px;
    padding: 4px 0 6px;
}

header ul li{
    display: inline-block;
}

header .col.fl li {
    margin-left: 25px;
}

header .col.fr li {
    margin-right: 25px;
}

header li {
    padding: 6px 0;
}










/* SECTION 1 */

#section-1 {
    background-color: #B4D0E7;
    position: relative;
    height: calc(463px - 40px);
    margin-bottom: 40px;
}

#section-1 .log-in {
    position: absolute;
    top: 40px;
    right: 40px;
}

#section-1 .container {
    margin: 0 auto;
    max-width: 780px;
    padding-top: 60px;
}

#section-1 .col-4 {
    width: calc(100% / 3);
}

#section-1 .col-8 {
    width: calc((100% / 3) * 2 - 10px);
}

#section-1 .title {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 25px;    
}

#section-1 p.content {
    margin-bottom: 20px;
    line-height: 13px;
}

#section-1 .button {
    margin-bottom: 8px;
    max-width: 135px;
}

#section-1 div.content {
    margin-top: 8px;
    margin-bottom: 30px;
}

#section-1 .arrow {
    transform: rotate(90deg);
    width: 20px;
    font-size: 30px;
}

#section-1 .jumbo {
    max-width: 500px;
}









/* SECTION 2 */

#section-2 .container {
    max-width: 635px;
    margin: 0 auto;
}

#section-2 .title {
    font-size: 25px;
    font-weight: 600;
    margin: 146px 0 38px;
}

#section-2 .col-4 {
    width: calc((100% - 68px) / 3);
    display: inline-block;
    border: 1px solid #D0D0D3;
    min-height: 625px;
}

#section-2 .col-12.border {
    width: 100%;
    border: 1px solid #D0D0D3;
    min-height: 133px;
    margin-top: 30px;
    margin-bottom: 40px;
}

#section-2 .col-4:nth-child(2) {
    margin: 0 34px;
}

#section-2 input {
    margin-bottom: 25px;
}

#section-2 .card {
    font-size: 9px;
}

#section-2 .card-title {
    line-height: 27px;
    border-bottom: 1px solid #D0D0D3;
}

#section-2 .card-content {
    padding: 22px 17px;
}

#section-2 .content-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}

#section-2 .content-price {
    font-weight: 600;
    margin-bottom: 12px;
}

#section-2 .content-period {
    color: #6A7A87;
    margin-bottom: 32px;
}

#section-2 .content-list {
    margin-bottom: 13px;
}

#section-2 .content-list li {
    margin-bottom: 20px;
}

#section-2 .content-list li i {
    margin-bottom: px;
}

#section-2 .col-4 .content-button {
    margin-bottom: 21px;
}

#section-2 .col-12.border .content-button {
    margin-bottom: 21px;
    padding-left: 40px;
    padding-right: 40px;
}

#section-2 .content-buy-now {
    margin-bottom: 17px;
}

#section-2 .content-buy-now a{
    margin-bottom: 17px;
    text-decoration: underline;
    color: #0061FF;
}

#section-2 .content-divider {
    max-width: 30px;
    margin-bottom: 26px;
    border-top: 1px solid #D0D0D3;
}

#section-2 .content-subtitle {
    margin-bottom: 20px;
    font-weight: 600;
}

#section-2 .content-checklist li {
    margin-bottom: 20px;
}

#section-2 .check {
    color: #0061FF;
}