@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: 500;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.button {
    background-color: #0061FF;
    color: white;
    padding: 6px 12px;
    white-space: nowrap;
}


/* HEADER */

header .container {
    width: 100%;
    padding: 10px 5px;
}

header .row {
    margin: 2px 5px;
}

header .logo {
    width: 75px;
    padding: 4px 0 6px;
}

header ul li{
    display: inline-block;
}

header .col.fl li {
    margin-left: 25px;
}

header .col.fr li {
    margin-right: 25px;
}

header li {
    padding: 6px 0;
}

/* SECTION 1 */

#section-1 {
    background-color: #B4D0E7;
    position: relative;
    height: calc(463px - 40px);
}

#section-1 .log-in {
    position: absolute;
    top: 40px;
    right: 40px;
}

#section-1 .container {
    margin: 0 auto;
    max-width: 780px;
    padding-top: 60px;
}

#section-1 .col-4 {
    width: calc(100% / 3);
}

#section-1 .col-8 {
    width: calc((100% / 3) * 2 - 10px);
}

#section-1 .title {
    font-size: calc(30px + 1vw);
    font-weight: 600;
    margin-bottom: 25px;    
}

#section-1 p.content {
    margin-bottom: 20px;
    line-height: 13px;
}

#section-1 .button {
    margin-bottom: 8px;
    max-width: 138px;
}

#section-1 div.content {
    margin-bottom: 30px;
}

#section-1 .arrow {
    transform: rotate(90deg);
    width: 20px;
    font-size: 30px;
}

#section-1 .jumbo {
    max-width: 500px;
}