@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    font-size: 14px;
    font-weight: 500;
    scroll-behavior: smooth;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.clear {
    clear: both;
}

.center-text {
    text-align: center;
}

.fl {
    float: left;
}

.fr {
    float: right;
}


ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.button {
    background-color: #0061FF;
    color: white;
    padding: 8px 16px;
    white-space: nowrap;
    text-align: center;
}

.black-button {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.white-button {
    background-color: white;
    color: black;
}

.container-fluid {
    width: 100%;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.content-divider {
    max-width: 45px;
    border-top: 1px solid #D0D0D3;
}

/* HEADER */

header .container-fluid {
    padding: 21px 18px;
}

header .logo {
    width: 115px;
    padding-top: 2px;
}

header ul li{
    display: inline-block;
}

header .col.fl li {
    margin-left: 38px;
}

header .col.fr li {
    margin-right: 38px;
}

header li {
    padding: 6px 0;
}




/* SECTION 1 */

#jumbo {
    background-color: #B4D0E7;
    height: 662px;
    border-top: 1px solid #DFE0E1;
}

#jumbo p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 26px;
}

#jumbo .container {
    margin: 0 auto;
    max-width: 1158px;
    padding-top: 95px;
}

#jumbo .col-4 {
    width: calc(100% / 3);
}

#jumbo .col-8 {
    width: calc((100% / 3) * 2 - 10px);
}

#jumbo .title {
    font-size: 75px;
    font-weight: 600;
    margin-bottom: 58px;    
}

#jumbo .button {
    margin-bottom: 11px;
    max-width: 210px;
}

#jumbo .cancel {
    margin-top: 8px;
    margin-bottom: 41px;
}

#jumbo .arrow {
    width: 20px;
    font-size: 30px;
}

#jumbo img {
    max-width: 718px;
}



/* SECTION 2 */

#card-section .container {
    margin-top: 185px;
}

#card-section .title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 54px;
}

#card-section .billing {
    margin-right: 16px;
}

#card-section .col-4 {
    width: calc((100% - 104px) / 3);
    display: inline-block;
    border: 1px solid #D0D0D3;
    min-height: 950px;
}

#card-section .col-12 {
    margin-bottom: 10px;
}

#card-section .col-12.border {
    width: 100%;
    border: 1px solid #D0D0D3;
    min-height: 133px;
    margin-top: 30px;
    margin-bottom: 40px;
}

#card-section .col-4:nth-child(2) {
    margin: 0 52px;
}

#card-section input {
    margin-bottom: 25px;
}

#card-section .card {
    font-size: 13px;
}

#card-section .card-title {
    line-height: 38px;
    border-bottom: 1px solid #D0D0D3;
    font-size: 15px;
}

#card-section .card-content {
    padding: 32px 29px;
}

#card-section .content-title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 24px;
}

#card-section .content-price {
    font-weight: 600;
    margin-bottom: 15px;
}

#card-section .content-period {
    color: #6A7A87;
    margin-bottom: 50px;
}

#card-section .content-list {
    margin-bottom: 47px;
}

#card-section .content-list li {
    margin-bottom: 28px;
}

#card-section .col-4 .content-button {
    margin-bottom: 31px;
}

#card-section .col-12.border .content-button {
    margin-bottom: 21px;
    padding-left: 40px;
    padding-right: 40px;
}

#card-section .content-buy-now {
    margin-bottom: 25px;
}

#card-section .content-buy-now a{
    margin-bottom: 17px;
    text-decoration: underline;
    color: #0061FF;
}

#card-section .content-divider {
    margin-bottom: 40px;
}

#card-section .content-subtitle {
    margin-bottom: 28px;
    font-weight: 600;
}

#card-section .content-checklist li {
    margin-bottom: 28px;
}

#card-section .check {
    color: #0061FF;
}



/* SECTION 3 */

#img-text .container {
    margin-top: 134px;
    margin-bottom: 105px;
}

#img-text .col-6 {
    max-width: 50%;
}

#img-text .col-6 img {
    max-width: 100%;
}

#img-text .col-6:nth-child(2) {
    padding: 41px 0 0 50px;
}

#img-text .title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

#img-text p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 28px;
}





/* SECTION 4 */

#features .section-title {
    font-size: 40px;
    font-weight: 600;
}

#features .col-4 {
    max-width: calc((100% - 110px) / 3);
    display: inline-block;
    margin-right: 55px;
    margin-top: 85px;
}

#features .row .col-4:nth-child(3) {
    margin-right: 0;
}

#features img {
    max-width: 100%;
    margin-bottom: 23px;
}

#features .feature-title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

#features .feature-content {
    font-size: 16px;
    line-height: 22px;
}


/* SECTION 5 */

#discover .container {
    margin: 190px auto 46px;
    padding-right: 350px;
}

#discover .title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
}

#discover .discover {
    text-decoration: underline;
    color: #0061FF;
}


/* Members Section */

#members .side-col {
    max-width: 432px;
}

#members .member-square {
    width: 216px;
    aspect-ratio: 1;
    position: relative;
}

#members .side-col .member-logo {
    max-width: 125px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(358deg) brightness(111%) contrast(104%);
}

#designit {
    background-color: #A2D39B;
}

#designit:hover {
    border: 10px solid #D0E9CD;
}

#arizona_state_university {
    background-color: #61082B;
}

#university_of_florida {
    background-color: #0093CE;
}

#topps {
    background-color: #FF1C1C;
}

#world_bicycle_relief {
    background-color: #D5001F;
}

#hearst_corp {
    background-color: #B4D0E7;
}

#lonely_planet {
    background-color: #0D2481;
}

#clear_channel {
    background-color: #FFD830;
}

#members .center-col {
    padding: 44px;
    max-width: calc(100% - 432px - 432px);
    background-color: #F5F5F5;
    min-height: 432px;
}

#members .center-col .member-logo {
    max-width: 125px;
    margin-bottom: 30px;
}

#members .content-divider {
    margin-bottom: 45px;
}

#members .content {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 52px;
}


/* Free Trial Section */

#free-trial {
    padding: 125px 0;
    background-color: #B4D0E7;
}

#free-trial .title {
    font-size: 40px;
    font-weight: 600;
    color: #61082B;
    width: 50%;
}

#free-trial .button {
    padding: 8px 58px;
}


/* Faq section */

#faq {
    padding: 120px 0 115px; 
}

#faq .title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 55px;
}

#faq li {
    line-height: 83px;
    border-top: 1px solid #D0D0D3;
    font-size: 16px;
    font-weight: 600;
}

#faq li .fr {
    margin-right: 36px;
}

#faq li:last-child {
    border-bottom: 1px solid #D0D0D3;
}