@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    font-size: 14px;
    font-weight: 500;
    scroll-behavior: smooth;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.clear {
    clear: both;
}

.center-text {
    text-align: center;
}

.fl {
    float: left;
}

.fr {
    float: right;
}


ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.button {
    background-color: #0061FF;
    color: white;
    padding: 8px 16px;
    white-space: nowrap;
    text-align: center;
}

.container-fluid {
    width: 100%;
    padding: 21px 18px;
}



/* HEADER */

header .logo {
    width: 115px;
    padding-top: 2px;
}

header ul li{
    display: inline-block;
}

header .col.fl li {
    margin-left: 38px;
}

header .col.fr li {
    margin-right: 38px;
}

header li {
    padding: 6px 0;
}




/* SECTION 1 */

#jumbo {
    background-color: #B4D0E7;
    margin-bottom: 120px;
    height: 662px;
    border-top: 1px solid #DFE0E1;
}

#jumbo p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 26px;
}

#jumbo .container {
    margin: 0 auto;
    max-width: 1158px;
    padding-top: 95px;
}

#jumbo .col-4 {
    width: calc(100% / 3);
}

#jumbo .col-8 {
    width: calc((100% / 3) * 2 - 10px);
}

#jumbo .title {
    font-size: 75px;
    font-weight: 600;
    margin-bottom: 58px;    
}

#jumbo .button {
    margin-bottom: 11px;
    max-width: 210px;
}

#jumbo .cancel {
    margin-top: 8px;
    margin-bottom: 41px;
}

#jumbo .arrow {
    width: 20px;
    font-size: 30px;
}

#jumbo img {
    max-width: 718px;
}



/* SECTION 2 */

#card-section .container {
    max-width: 635px;
    margin: 0 auto;
}

#card-section .title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 54px;
}

#card-section .billing {
    margin-right: 16px;
}

#card-section .col-4 {
    width: calc((100% - 68px) / 3);
    display: inline-block;
    border: 1px solid #D0D0D3;
    min-height: 625px;
}

#card-section .col-12.border {
    width: 100%;
    border: 1px solid #D0D0D3;
    min-height: 133px;
    margin-top: 30px;
    margin-bottom: 40px;
}

#card-section .col-4:nth-child(2) {
    margin: 0 34px;
}

#card-section input {
    margin-bottom: 25px;
}

#card-section .card {
    font-size: 9px;
}

#card-section .card-title {
    line-height: 27px;
    border-bottom: 1px solid #D0D0D3;
}

#card-section .card-content {
    padding: 22px 17px;
}

#card-section .content-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}

#card-section .content-price {
    font-weight: 600;
    margin-bottom: 12px;
}

#card-section .content-period {
    color: #6A7A87;
    margin-bottom: 32px;
}

#card-section .content-list {
    margin-bottom: 13px;
}

#card-section .content-list li {
    margin-bottom: 20px;
}

#card-section .content-list li i {
    margin-bottom: px;
}

#card-section .col-4 .content-button {
    margin-bottom: 21px;
}

#card-section .col-12.border .content-button {
    margin-bottom: 21px;
    padding-left: 40px;
    padding-right: 40px;
}

#card-section .content-buy-now {
    margin-bottom: 17px;
}

#card-section .content-buy-now a{
    margin-bottom: 17px;
    text-decoration: underline;
    color: #0061FF;
}

#card-section .content-divider {
    max-width: 30px;
    margin-bottom: 26px;
    border-top: 1px solid #D0D0D3;
}

#card-section .content-subtitle {
    margin-bottom: 20px;
    font-weight: 600;
}

#card-section .content-checklist li {
    margin-bottom: 20px;
}

#card-section .check {
    color: #0061FF;
}